* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: hsl(218, 40%, 28%);
}

.container {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

input {
    padding: 4px 8px;
    font-size: 1.2em;
    color: black;
}

.add-todo {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="text"] {
    width: 50%;
}

#todos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 6px 0;
    border: 2px solid white;
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px white;
}

.todo-text {
    font-size: 2em;
    display: inline-block;
    margin-right: 20px;
    width: 80%;
    word-wrap: break-word;
}

.todo-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}